.btn {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  border-radius: var(--radius);

  overflow: hidden;
  cursor: pointer;
  transition: var(--ease);

  span {
    height: 24px;
    line-height: 28px;

    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--black);
    transition: var(--ease);
  }

  &--white {
    background: var(--white);
    border: 2px solid var(--light-2);

    span {
      color: var(--grey);
    }
  }

  &--send {
    width: 242px;
    background: var(--black);

    span {
      color: var(--white);
    }

    svg {
      margin-left: -30px;

      color: var(--white);

      visibility: hidden;
      opacity: 0;
      transition: var(--ease);
    }

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;

      display: block;
      width: 100%;
      height: 100%;

      background: var(--gradient);

      visibility: hidden;
      opacity: 0;
      transition: var(--ease);
    }

    @media (any-hover: hover) {
      &:hover {
        background: transparent;

        &::before {
          visibility: visible;
          opacity: 1;
        }

        span {
          color: var(--black);
        }

        svg {
          margin-left: 10px;

          color: var(--black);

          visibility: visible;
          opacity: 1;
        }
      }
    }

    &.animation {
      background: transparent;
      pointer-events: none;
      animation: bounce 0.2s ease;

      &::before {
        visibility: visible;
        opacity: 1;
      }

      span {
        visibility: hidden;
        opacity: 0;
      }

      svg {
        color: var(--black);

        visibility: visible;
        opacity: 1;

        animation: arrowMove 1.5s ease forwards;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes arrowMove {
  0% {
    margin-left: 10px;
  }

  25% {
    transform: translateX(-60px) scale(0.8, 1.2);
  }

  60% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    transform: translateX(120px) scale(1.1, 0.9);
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .btn {
    width: 100%;
    height: 40px;
    border-radius: 10px;

    span {
      font-weight: 600;
      font-size: 15px;
    }

    &--send {
      background: transparent;

      span {
        display: none;
      }

      svg {
        margin-left: 10px;

        color: var(--black);

        visibility: visible;
        opacity: 1;
      }

      &::before {
        visibility: visible;
        opacity: 1;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
