.burger {
  position: relative;

  width: 40px;
  height: 40px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 34px;
    height: 2px;

    background: var(--black);
    transition: var(--ease);
  }

  &::before {
    top: 14px;
  }

  &::after {
    bottom: 14px;
  }

  &.open {
    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
