.container {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
