.about {
  margin: 100px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 26% 1fr;
    gap: 45px;

    @include wrapper;
  }
}

@media (max-width: 1365px) {
  .about {
    margin: 40px 0;
  }
}

@media (max-width: 767px) {
  .about {
    &__wrapper {
      grid-template-columns: initial;
      gap: 20px;
    }
  }
}
