.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 40px 30px;
  border-radius: var(--radius);
  background: var(--light-2);

  &__logo {
    flex-shrink: 0;

    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 50%;

    background: var(--white);

    img {
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__headline {
    font-weight: 600;
    font-size: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
    line-height: 120%;
  }

  &__text {
    line-height: 120%;
  }

  &--small {
    flex-direction: row;
    align-items: center;

    padding: 20px;

    & .card {
      &__headline {
        font-size: 24px;
      }

      &__text {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1470px) {
  .card {
    gap: 10px;

    &--small {
      & .card {
        &__logo {
          width: 40px;
          height: 40px;
          padding: 4px;
        }

        &__info {
          gap: 3px;
        }

        &__headline {
          font-size: 16px;
        }

        &__text {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .card {
    gap: 20px;

    padding: 30px 20px;
    border-radius: 12px;

    &__info {
      gap: initial;
    }

    &--small {
      gap: 10px;

      padding: 10px;
      border-radius: 10px;

      & .card {
        &__logo {
          width: 30px;
          height: 30px;
          padding: 5px;
        }
      }
    }
  }
}
