.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  height: 90px;

  &__container {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    height: 100%;
    transition: var(--ease);

    &--min {
      position: fixed;
      top: 40px;
      left: 50%;
      transform: translate(-50%, -50px);
      z-index: 3;

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 500px;
      padding: 10px;
      border-radius: var(--radius);

      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(8px);
      visibility: hidden;
      opacity: 0;
      transition: var(--ease);
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;

    &-text {
      padding-top: 5px;

      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.05em;
      color: var(--grey);
    }

    &-min {
      display: block;
      width: 40px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 60px;

    &-text {
      position: relative;

      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.05em;
      text-align: center;
      color: var(--black);

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        display: block;
        width: 0;
        height: 1px;
        margin: 0 auto;

        background: var(--black);
        transition: var(--ease);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        & .header {
          &__link-text {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__burger {
    display: none;
  }

  &.min {
    & .header {
      &__wrapper {
        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;

        &--min {
          transform: translate(-50%, 0);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1365px) {
  .header {
    &__logo {
      gap: 13px;

      &-min {
        width: 30px;
      }

      &-text {
        padding-top: 7px;
        font-size: 14px;
      }
    }

    &__link {
      height: 50px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__wrapper {
      border-bottom: 1px solid transparent;

      &--min {
        display: none;
      }
    }

    &__logo {
      gap: 15px;

      &-text {
        padding-top: 7px;
        font-size: 14px;
      }
    }

    &__nav {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      display: none;

      width: 100%;
      height: calc(100dvh - 90px);
      padding: 0 20px 20px;

      background: var(--white);

      overflow-y: auto;
    }

    &__burger {
      display: block;
    }

    &.min {
      & .header {
        &__wrapper {
          transform: none;
          visibility: visible;
          opacity: 1;
          transform: none;
        }
      }
    }

    &.open {
      position: fixed;
      background: var(--white);

      & .header {
        &__wrapper {
          border-bottom-color: var(--black);
        }

        &__nav {
          display: block;
        }
      }
    }
  }
}
