.hero {
  &__bg {
    height: 440px;
  }

  &__wrapper {
    padding: 124px 0 64px;
  }

  h1 {
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-align: center;
    text-wrap: balance;

    span {
      display: block;

      background: var(--gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 40px;

    h2 {
      font-size: 40px;
    }

    p,
    li {
      font-size: 30px;
      line-height: 140%;
    }

    p > span {
      color: var(--grey);
    }

    &--center {
      text-align: center;
      text-wrap: balance;
    }
  }

  &__error {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    height: 195px;
    line-height: 235px;

    font-weight: 600;
    font-size: 260px;
    letter-spacing: 0.05em;
    color: var(--white);
  }

  &__btn {
    display: block;

    width: fit-content;
    margin: 60px auto 0;
    padding: 15px 80px;
    border-radius: var(--radius);

    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    background: var(--black);
  }

  &--error {
    & .hero {
      &__wrapper {
        position: relative;
        padding-top: 35px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .hero {
    h1 {
      font-size: 50px;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    &__bg {
      height: 257px;
    }

    &__wrapper {
      padding: 60px 0 20px;
    }

    h1 {
      font-size: 40px;
      letter-spacing: initial;
    }

    &__content {
      gap: 10px;
      margin-top: 20px;

      h2 {
        font-size: 24px;
      }

      p,
      li {
        font-size: 16px;
      }
    }

    &__error {
      height: 90px;
      line-height: 110px;

      font-size: 120px;
    }

    &__btn {
      max-width: 345px;
      width: 100%;
      padding: 10px;
      border-radius: 12px;

      font-size: 20px;
    }

    &--error {
      & .hero {
        &__wrapper {
          padding-top: 25px;
        }
      }
    }
  }
}
