.invest {
  margin: 100px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__block {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;
    border-radius: var(--radius);

    overflow: hidden;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      display: block;
      width: 100%;
      height: 100%;
    }

    &::before {
      z-index: -2;

      background-image: url("../img/decor-bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      filter: blur(5px) opacity(0.4);
    }

    &::after {
      z-index: -1;

      background: var(--gradient-transparent);
      mix-blend-mode: lighten;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
    line-height: 120%;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 32px;

    font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
    line-height: 120%;
    letter-spacing: 0.05em;
    text-align: center;
  }

  &__text {
    margin-top: 20px;

    line-height: 160%;
    letter-spacing: 0.05em;
    text-align: center;
  }

  &__btn {
    display: flex;
    align-items: center;

    margin-top: 40px;

    padding: 10px 20px;
    border-radius: 99px;

    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--black);

    background: var(--white);
    border: 2px solid transparent;
    transition: var(--ease);

    &::after {
      content: "";

      display: block;
      width: 12px;
      height: 12px;
      margin-left: -12px;

      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 1H13V11' stroke='black' stroke-width='2'/%3E%3Cpath d='M13 1L1 13' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;

      visibility: hidden;
      opacity: 0;
      transition: margin-left 0.3s ease, opacity 0.2s ease, visibility 0.2s ease;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--white);
        background: transparent;

        &::after {
          margin-left: 10px;

          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .invest {
    &__block {
      padding: 40px 20px;
    }

    &__title {
      margin-top: 20px;
    }
  }
}

@media (max-width: 767px) {
  .invest {
    margin: 40px 0;

    &__wrapper {
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr;
    }
  }
}
