.main {
  overflow: hidden;

  // &--scrollable {
  //   width: 100%;
  //   height: 100dvh;

  //   &::before,
  //   &::after {
  //     content: "";

  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     z-index: -1;

  //     display: block;
  //     width: 100%;
  //     height: 150px;

  //     visibility: hidden;
  //     opacity: 0;
  //     transition: 0.6s ease;
  //   }

  //   &::before {
  //     top: 0;
  //     background: linear-gradient(
  //       rgba(255, 255, 255, 1),
  //       rgba(255, 255, 255, 0)
  //     );
  //   }

  //   &::after {
  //     bottom: 0;
  //     background: linear-gradient(
  //       rgba(255, 255, 255, 0),
  //       rgba(255, 255, 255, 1)
  //     );
  //   }
  // }

  &.gradient {
    &::before,
    &::after {
      z-index: 2;

      visibility: visible;
      opacity: 1;
    }
  }

  // &__fullpage {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 1;

  //   transition: transform 0.6s ease;
  // }
}

@media (max-width: 1279px) {
  .main {
    width: initial;
    height: initial;

    // &__fullpage {
    //   position: static;
    //   z-index: initial;

    //   transform: none !important;
    // }
  }
}
