.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__item a {
    position: relative;

    padding: 5px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: var(--black);

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      display: block;
      width: 0;
      height: 1px;
      margin: 0 auto;

      background: var(--black);
      transition: var(--ease);
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &__block {
    display: none;
    flex-direction: column;
    gap: 30px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__btn {
    padding: 15px 20px;
    border-radius: 10px;

    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--black);

    background: var(--light);
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__label {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__email {
    font-weight: 600;
    font-size: clamp(1.75rem, 1.6rem + 0.75vw, 2.5rem);
    color: var(--black);
  }

  &__countries {
    display: flex;
    gap: 85px;

    margin-top: 65px;
  }

  &__address {
    font-size: 16px;

    span {
      display: flex;
      align-items: baseline;
      gap: 5px;

      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
    }

    img {
      width: 20px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__link {
    display: inline-block;

    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--grey);
  }

  &__policy {
    margin-top: 40px;
    font-size: 14px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: 40px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__social {
    display: flex;
  }

  &--footer {
    margin-top: 60px;

    & .nav {
      &__block {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
      }
    }
  }

  &--modal {
    & .nav {
      &__block {
        display: flex;
        gap: 40px;
      }

      &__row {
        gap: 10px;
      }

      &__label {
        font-size: 16px;
      }

      &__countries {
        gap: 70px;
        margin-top: initial;
      }

      &__links {
        flex-direction: row;
        gap: 80px;
      }

      &__policy {
        margin-top: initial;
      }
    }
  }
}

@media (max-width: 1023px) {
  .nav {
    &--footer {
      & .nav {
        &__block {
          grid-template-columns: initial;
          gap: 40px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .nav {
    &__list {
      flex-direction: column;
      align-items: flex-start;
      gap: initial;
    }

    &__item {
      width: 100%;

      a {
        display: block;
        padding: 25px 5px;

        border-bottom: 1px solid var(--black);
      }
    }

    &__block {
      display: flex;
      margin-top: 30px;
    }

    &__countries {
      gap: 40px;
      margin-top: 30px;
    }

    &__address {
      font-size: 10px;

      span {
        font-size: 16px;
      }

      img {
        width: 14px;
      }
    }

    &__row {
      gap: 10px;
    }

    &__label {
      font-size: 14px;
    }

    &__links {
      flex-direction: row;
      gap: 10px 50px;
    }

    &__link {
      font-size: 14px;
    }

    &--footer {
      margin-top: 30px;
    }

    &--modal {
      gap: 30px;

      & .nav {
        &__block {
          margin-top: initial;
        }

        &__countries {
          gap: 40px;
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .nav {
    &__btn {
      padding: 10px 15px;
      font-size: 15px;
    }

    &__email {
      font-size: 24px;
    }

    &__links {
      gap: 10px 40px;
    }

    &__bottom {
      padding-right: 0;
    }
  }
}
