.portfolio {
  padding: 120px 0;

  &__title {
    font-size: 60px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  &__tabs {
    display: flex;
    gap: 60px;

    margin-top: 50px;
    padding-bottom: 5px;

    overflow-y: auto;
    scrollbar-width: none;
  }

  &__tab {
    position: relative;

    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    color: var(--grey);

    cursor: pointer;
    transition: var(--ease);

    &::after {
      content: "";

      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      display: block;
      width: 100%;
      height: 5px;

      background: var(--gradient);
      opacity: 0;
      transition: var(--ease);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--black);
      }
    }

    &.active {
      color: var(--black);

      &::after {
        opacity: 1;
      }
    }
  }

  &__wrapper {
    @include wrapper;
    margin-top: 60px;
  }

  &__head {
    margin-bottom: 40px;
    padding-bottom: 40px;

    font-weight: 600;
    font-size: 40px;

    border-bottom: 1px solid var(--black);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
}

@media (max-width: 1279px) {
  .portfolio {
    &__grid {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
}

@media (max-width: 767px) {
  .portfolio {
    padding: 60px 0 140px;

    &__title {
      font-size: 40px;
    }

    &__tabs {
      gap: 30px;

      margin: 40px -20px 0;
      padding: 0 20px 3px;
    }

    &__tab {
      font-size: 18px;

      &::after {
        height: 3px;
      }
    }

    &__wrapper {
      margin-top: 40px;
      padding: initial;
      background: initial;
    }

    &__head {
      display: none;
    }

    &__grid {
      grid-template-columns: initial;
    }
  }
}
