.portfolio {
  padding: 120px 0;

  &__title {
    font-size: clamp(2rem, 1.65rem + 1.75vw, 3.75rem);
    letter-spacing: 0.05em;
    text-align: center;
  }

  &__tabs {
    margin-top: 50px;
  }

  &__wrapper {
    @include wrapper;
    margin-top: 60px;
  }

  &__head {
    margin-bottom: 40px;
    padding-bottom: 40px;

    font-weight: 600;
    font-size: 40px;

    border-bottom: 1px solid var(--black);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
}

@media (max-width: 1470px) {
  .portfolio {
    padding: 80px 0;

    &__wrapper {
      margin-top: 30px;
    }

    &__tabs {
      margin-top: 40px;
    }

    &__tab {
      font-size: 20px;
    }

    &__head {
      padding-bottom: 20px;
      font-size: 30px;
    }

    &__grid {
      gap: 20px;
    }
  }
}

@media (max-width: 1279px) {
  .portfolio {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 767px) {
  .portfolio {
    padding: 60px 0 140px;

    &__wrapper {
      margin-top: 40px;
      padding: initial;
      background: initial;
    }

    &__head {
      display: none;
    }

    &__grid {
      grid-template-columns: initial;
    }
  }
}
