.related {
  margin-bottom: 100px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__head {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
      letter-spacing: 0.05em;
    }

    & > p {
      line-height: 120%;
      letter-spacing: 0.05em;
      color: var(--grey);
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &--articles {
    margin-top: 40px;
    margin-bottom: initial;

    & .related {
      &__wrapper {
        gap: 40px;
      }
    }

    & .splide {
      &__arrows {
        top: calc(100% + 10px);
      }
    }
  }
}

.splide {
  &.is-initialized:not(.is-active) .splide__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }

  &__track {
    padding: 40px;
    border-radius: 30px;

    background: var(--light);
  }

  &__arrows {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;

    display: none;
    align-items: center;
    gap: 5px;

    & > p {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: var(--black);
    }
  }

  &__arrow {
    position: static;

    width: 30px;
    height: 30px;

    background: transparent;

    transform: initial;
  }
}

@media (max-width: 1470px) {
  .splide {
    &.is-initialized:not(.is-active) .splide__list {
      gap: 30px;
    }
  }
}

@media (max-width: 1023px) {
  .related {
    margin-bottom: 70px;

    &--articles {
      margin-bottom: initial;

      & .related {
        &__wrapper {
          gap: 20px;
        }
      }

      & .splide {
        &__arrows {
          top: 0;
        }
      }
    }
  }

  .splide {
    &__track {
      padding: initial;
      border-radius: initial;

      background: transparent;
    }

    &__arrows {
      display: flex;
    }
  }
}
