.talent {
  margin: 100px 0;

  &__wrapper {
    padding: 80px;
    border-radius: var(--radius);

    border: 2px solid var(--light);
  }

  &__title {
    text-align: center;
    letter-spacing: 0.05em;

    span {
      display: inline-block;

      // visibility: hidden;
      // opacity: 0;
      // transition: 0.3s ease;
    }

    &--gradient {
      background: var(--gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // &.animation {
  //   & .talent {
  //     &__title {
  //       span {
  //         visibility: visible;
  //         opacity: 1;
  //         transition: 0.8s ease;

  //         &:nth-of-type(1) {
  //           transition-delay: 0.3s;
  //         }

  //         &:nth-of-type(2) {
  //           transition-delay: 0.6s;
  //         }

  //         &:nth-of-type(3) {
  //           transition-delay: 0.9s;
  //         }
  //       }
  //     }
  //   }
  // }
}

// @media (max-width: 1279px) {
//   .talent {
//     &__title {
//       span {
//         visibility: visible;
//         opacity: 1;
//       }
//     }
//   }
// }

@media (max-width: 1023px) {
  .talent {
    &__wrapper {
      padding: 30px;
    }
  }
}

@media (max-width: 767px) {
  .talent {
    margin: 80px 0;

    &__title {
      font-size: 40px;
      text-align: left;
    }
  }
}

@media (max-width: 379px) {
  .talent {
    &__title {
      font-size: 30px;
    }
  }
}
