.team {
  padding: 60px 0 120px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
  }
}

@media (max-width: 767px) {
  .team {
    padding: 20px 0 80px;

    &__wrapper {
      grid-template-columns: initial;
      gap: 20px;
    }
  }
}
