.worker {
  display: flex;

  min-height: 376px;
  border-radius: var(--radius);

  background: var(--light);
  overflow: hidden;

  &__img {
    flex-shrink: 0;
    flex-basis: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;

    height: 100%;
    padding: 40px 20px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    svg {
      color: #05c559;
    }
  }

  &__name {
    font-weight: 600;
    font-size: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem);
    letter-spacing: 0.05em;
  }

  &__post {
    color: var(--grey);
  }

  &__about {
    margin-top: auto;

    font-weight: 500;
  }
}

@media (max-width: 1023px) {
  .worker {
    &__info {
      gap: 10px;
      padding: 20px;
    }

    &__head {
      gap: 15px;
    }

    &__post {
      font-size: 14px;
    }

    &__about {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .worker {
    min-height: 277px;

    &__img {
      height: 100%;
    }
  }
}

@media (max-width: 379px) {
  .worker {
    &__img {
      flex-basis: 45%;
    }

    &__info {
      padding: 20px 10px;
    }

    &__about {
      font-size: 14px;
    }
  }
}
