html {
  scrollbar-width: thin;
  scrollbar-color: var(--grey) var(--light);
  scroll-behavior: smooth;
}

html.lock {
  overflow: hidden;
}

body {
  position: relative;

  font-family: "New Order", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.875rem, 0.7785rem + 0.3929vw, 1.25rem);
  color: var(--black);
}

img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  display: block;
}

.hidden {
  display: none !important;
}
