html {
  min-height: 100%;
  height: 100%;

  scrollbar-width: thin;
  scrollbar-color: var(--grey) var(--light);
  scroll-behavior: smooth;
}

html.lock {
  overflow: hidden;
}

body {
  position: relative;

  height: 100%;
  min-height: 100%;

  font-family: "New Order", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: var(--black);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  display: block;
}

.hidden {
  display: none !important;
}
