html {
  scrollbar-width: thin;
  scrollbar-color: var(--grey) var(--light);
  scroll-behavior: smooth;
}

html.lock,
body.lock {
  overflow: hidden;
}

body {
  position: relative;

  font-family: "New Order", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: var(--black);

  overflow: hidden;

  @media (max-width: 1279px) {
    overflow: initial;
  }
}

img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  display: block;
}

.hidden {
  display: none !important;
}
