@mixin wrapper {
  padding: clamp(2.5rem, 0.8369rem + 3.4692vw, 5rem)
    clamp(1.25rem, -2.0761rem + 6.9384vw, 6.25rem);
  border-radius: var(--radius);

  background: var(--light);

  // @media (max-width: 1023px) {
  //   padding: 40px 20px;
  // }
}
