*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  resize: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}
