@import "general/_reset";
@import "general/_fonts";
@import "general/_variables";
@import "general/_mixins";
@import "general/_global";

@import "base/btn.scss";
@import "base/burger.scss";
@import "base/container.scss";
@import "base/logo.scss";
@import "base/text.scss";
@import "base/title.scss";

@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/main.scss";
@import "blocks/footer.scss";

@import "blocks/hero.scss";
@import "blocks/about.scss";
@import "blocks/invest.scss";
@import "blocks/talent.scss";
@import "blocks/works.scss";
@import "blocks/form.scss";
@import "blocks/modal.scss";
@import "blocks/portfolio.scss";
@import "blocks/card.scss";
@import "blocks/team.scss";
@import "blocks/worker.scss";
